news-scraper.json
{
  "name": "News Scraper (RSS → Translate → Publish)",
  "nodes": [
    {
      "parameters": {
        "content": "## 📰 News Scraper — RSS → Translate → Publish\n\nFetches articles from your RSS feeds, dedupes them, enriches them with an\nimage + full text from the article page, makes every article **bilingual\n(Arabic ⇄ English)** with an LLM, and POSTs the result to your own API.\n\n### Quick start\n1. Open **⚙️ Config** → set your API endpoint + auth.\n2. Open **📰 Prepare Sources** → add your feeds & category IDs.\n3. Select your **OpenAI credential** on the *Translate* node.\n4. Hit **Execute workflow** to test, then enable the *Schedule* trigger.\n\n📖 Full docs: see `README.md` and `docs/` in the repository.",
        "width": 540,
        "height": 360,
        "color": 4
      },
      "id": "📖-read-me-first",
      "name": "📖 Read me first",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1264,
        -288
      ]
    },
    {
      "parameters": {
        "content": "## ✏️ EDIT THESE TWO NODES\n\n**⚙️ Config** — API endpoint, auth header, item limits, placeholder image.\n\n**📰 Prepare Sources** — your RSS feeds and the slug → category-ID map\nfor your backend. Everything else works without changes.",
        "width": 460,
        "height": 220,
        "color": 5
      },
      "id": "✏️-edit-these",
      "name": "✏️ Edit these",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        -16
      ]
    },
    {
      "parameters": {
        "content": "## 🔁 Per-source loop\n\n*Per Source* processes one feed at a time (isolates failures: one broken\nfeed never kills the run). *Fetch RSS* and most downstream nodes use\n**continue-on-error**, so the loop always completes.\n\n*Build Articles* takes the newest N items, skips items already posted\n(dedupe via workflow static data) and emits a `_skip` marker when a feed\nyields nothing — *Has Articles?* routes those straight back to the loop.",
        "width": 560,
        "height": 280,
        "color": 7
      },
      "id": "🔁-loop-notes",
      "name": "🔁 Loop notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        480
      ]
    },
    {
      "parameters": {
        "content": "## 🖼️ Enrich + 🌐 Translate\n\n*Fetch Article Page* downloads the article HTML (never errors, 8s timeout).\n*Resolve Image* picks the best image (RSS → og:image → twitter:image) and\nextracts the full article text when it beats the feed summary.\n\n*Translate* (OpenAI, structured output) fills ONLY the empty language\nfields — filled fields pass through unchanged. If the LLM fails, the\narticle still publishes via fallbacks in *Build Payload*.",
        "width": 600,
        "height": 280,
        "color": 7
      },
      "id": "🖼️-enrich-+-translate",
      "name": "🖼️ Enrich + translate",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        528
      ]
    },
    {
      "parameters": {
        "content": "## 🚀 Publish\n\n*Build Payload* assembles the final bilingual object (guaranteed\nnon-empty fields). *POST Article* sends it to `Config.apiUrl` with your\nauth header. *Mark Seen* records the article as published **only on a\n2xx response** — failures are retried on the next run.\n\nPayload contract → `docs/configuration.md`.",
        "width": 560,
        "height": 260,
        "color": 7
      },
      "id": "🚀-publish-notes",
      "name": "🚀 Publish notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        528
      ]
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Run",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        144
      ],
      "notes": "Manual trigger for testing. For production, enable the Schedule trigger below instead."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -896,
        320
      ],
      "disabled": true,
      "notes": "Optional scheduled run (default: every 6 hours). Enable this node and activate the workflow for production. IMPORTANT: the dedupe store (workflow static data) only persists for active/scheduled runs, not manual test runs."
    },
    {
      "parameters": {
        "jsCode": "// =====================================================================\n// CONFIG -- edit everything here. This node + \"Prepare Sources\" are\n// the ONLY two nodes you need to touch to use this workflow.\n// =====================================================================\nconst CONFIG = {\n  // Where finished articles are POSTed (your backend / CMS endpoint).\n  // See docs/configuration.md for the exact JSON payload your API receives.\n  apiUrl: 'https://YOUR-SITE.example.com/api/v1/articles',\n\n  // Simple header-based auth for the endpoint above.\n  // TIP: for production, prefer an n8n \"Header Auth\" credential on the\n  // \"POST Article\" node instead of keeping the secret in the workflow JSON.\n  authHeaderName: 'X-Api-Key',\n  authHeaderValue: 'YOUR_API_SECRET',\n\n  // How many of the newest items to take from each feed per run.\n  maxItemsPerFeed: 5,\n\n  // Limits applied to generated text fields.\n  shortDescriptionWords: 30,      // words kept in the short description\n  shortDescriptionMaxChars: 500,  // hard cap on short descriptions before POSTing\n  maxDescriptionChars: 5000,      // cap on full article text (also keeps LLM cost down)\n\n  // Used when neither the RSS item nor the article page provides an image.\n  placeholderImage: 'https://placehold.co/600x400?text=News'\n};\n\nreturn [{ json: CONFIG }];"
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        144
      ],
      "notes": "⚙️ EDIT ME — central configuration: API endpoint, auth header, per-feed item limit, text length caps, placeholder image. Every other node reads from here.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "// =====================================================================\n// SOURCES & CATEGORIES -- the only other node you need to edit.\n// =====================================================================\n\n// CATEGORIES maps a human-friendly slug (used in SOURCES below) to the\n// numeric category ID expected by YOUR backend. Add as many as you like.\nconst CATEGORIES = {\n  'technology': 1,\n  'business':   2,\n  'news':       3\n};\n\n// SOURCES -- one entry per RSS/Atom feed. Fields:\n//   name         friendly label (used in logs and skip reports)\n//   feedUrl      the RSS/Atom feed URL\n//   lang         'en' or 'ar' -- the language the feed publishes in.\n//                The workflow auto-fills the OTHER language via the\n//                \"Translate\" node, so every article ends up bilingual.\n//   categorySlug must be a key of CATEGORIES above.\n//\n// The entries below are public, well-known feeds kept as EXAMPLES --\n// replace them with your own.\nconst SOURCES = [\n  { name: 'BBC Technology',          feedUrl: 'https://feeds.bbci.co.uk/news/technology/rss.xml', lang: 'en', categorySlug: 'technology' },\n  { name: 'Engadget',                feedUrl: 'https://www.engadget.com/rss.xml',                 lang: 'en', categorySlug: 'technology' },\n  { name: 'Guardian Business',       feedUrl: 'https://www.theguardian.com/uk/business/rss',      lang: 'en', categorySlug: 'business' },\n  { name: 'BBC Arabic',              feedUrl: 'https://feeds.bbci.co.uk/arabic/rss.xml',          lang: 'ar', categorySlug: 'news' },\n  { name: 'Sky News Arabia Business', feedUrl: 'https://www.skynewsarabia.com/rss/business.xml',  lang: 'ar', categorySlug: 'business' }\n];\n\n// --------------- no edits needed below this line ---------------------\n// Emits one item per source, with the numeric category_id resolved.\nreturn SOURCES.map(s => {\n  const category_id = CATEGORIES[s.categorySlug];\n  if (category_id === undefined) {\n    throw new Error('Source \"' + s.name + '\" uses unknown categorySlug \"' + s.categorySlug + '\". Add it to CATEGORIES first.');\n  }\n  return { json: { name: s.name, feedUrl: s.feedUrl, lang: s.lang, categorySlug: s.categorySlug, category_id } };\n});"
      },
      "id": "prepare-sources",
      "name": "Prepare Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        144
      ],
      "notes": "📰 EDIT ME — define your RSS feeds (SOURCES) and the slug → numeric category-ID map for your backend (CATEGORIES). Ships with 5 public example feeds.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "per-source",
      "name": "Per Source",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        144
      ],
      "notes": "Loops over sources one at a time so a single broken feed can't break the whole run. Output 1 = 'all done', Output 2 = next source."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "done",
              "name": "message",
              "value": "News scrape complete",
              "type": "string"
            },
            {
              "id": "finishedAt",
              "name": "finishedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "done",
      "name": "Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "notes": "Final summary item once every source has been processed."
    },
    {
      "parameters": {
        "url": "={{ $json.feedUrl }}",
        "options": {
          "customFields": "enclosure,media:content,media:thumbnail"
        }
      },
      "id": "fetch-rss",
      "name": "Fetch RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        192
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "Reads the current source's feed. customFields exposes enclosure/media tags so Build Articles can pick a feed image. Continues on error so dead feeds don't stop the run."
    },
    {
      "parameters": {
        "jsCode": "// =====================================================================\n// BUILD ARTICLES -- normalize raw RSS items into article objects.\n// - Takes the newest N items per feed (CONFIG.maxItemsPerFeed)\n// - Skips items with no usable URL\n// - Skips items already published in a previous run (dedupe via\n//   workflow static data -- survives between executions)\n// - Fills the fields of the SOURCE language; the other language is\n//   left empty for the \"Translate\" node to fill.\n// =====================================================================\nconst crypto = require('crypto');\nconst cfg = $('Config').first().json;\nconst source = $('Per Source').item.json;\n\n// Persistent dedupe store: { articleId: timestamp }.\n// NOTE: static data only persists for ACTIVE (scheduled/webhook) runs;\n// manual test runs always start fresh. See docs/architecture.md.\nconst sd = $getWorkflowStaticData('global');\nsd.seenIds = sd.seenIds || {};\n\nconst stripHtml = s => (s || '').replace(/<[^>]*>/g, ' ').replace(/&nbsp;/g, ' ').replace(/\\s+/g, ' ').trim();\nconst firstWords = (s, n) => { const w = (s || '').split(/\\s+/).filter(Boolean); return w.length <= n ? w.join(' ') : w.slice(0, n).join(' ') + '...'; };\n// Stable 16-char ID derived from the article URL -- used for dedupe.\nconst articleId = url => crypto.createHash('sha256').update(url).digest('hex').slice(0, 16);\n\n// Best image the FEED itself offers (enclosure / media:content / media:thumbnail).\n// If none, \"Resolve Image\" later falls back to the page's og:image.\nconst pickImage = j => {\n  if (j.enclosure && j.enclosure.url) return j.enclosure.url;\n  const mc = j['media:content']; if (mc && mc['$'] && mc['$'].url) return mc['$'].url;\n  const mt = j['media:thumbnail']; if (mt && mt['$'] && mt['$'].url) return mt['$'].url;\n  return '';\n};\n\nconst items = $input.all().slice(0, cfg.maxItemsPerFeed);\nconst out = [];\nlet skippedNoUrl = 0, skippedSeen = 0;\n\nfor (const it of items) {\n  const j = it.json || {};\n  const url = (j.link || j.guid || j.id || '').toString().trim();\n  if (!url) { skippedNoUrl++; continue; }\n  const id = articleId(url);\n  if (sd.seenIds[id]) { skippedSeen++; continue; }\n\n  const title = stripHtml(j.title) || '(untitled)';\n  const body = stripHtml(j.contentSnippet || j.content || j.summary || j.description || '');\n  const description = body || title;\n  const short_description = firstWords(body, cfg.shortDescriptionWords) || title;\n  const isAr = source.lang === 'ar';\n\n  out.push({ json: {\n    id,\n    category_id: source.category_id,\n    source_lang: source.lang,\n    source_url: url,\n    published_at: j.isoDate ? new Date(j.isoDate).toISOString() : new Date().toISOString(),\n    // Source-language fields filled; counterpart language left empty\n    // on purpose -- the \"Translate\" node fills the empty ones.\n    title_ar: isAr ? title : '',\n    title_en: isAr ? '' : title,\n    short_description_ar: isAr ? short_description : '',\n    short_description_en: isAr ? '' : short_description,\n    description_ar: isAr ? description : '',\n    description_en: isAr ? '' : description,\n    rss_image: pickImage(j)\n  }});\n}\n\n// Nothing usable from this feed: emit a single marker item so the\n// \"Has Articles?\" IF node can route back to the loop with a reason.\nif (out.length === 0) {\n  const reason = items.length === 0 ? 'no_rss_items' : (skippedSeen === items.length ? 'all_already_seen' : 'no_usable_url');\n  return [{ json: { _skip: true, _reason: reason, source_name: source.name, source_category_id: source.category_id } }];\n}\nreturn out;"
      },
      "id": "build-articles",
      "name": "Build Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ],
      "alwaysOutputData": true,
      "notes": "Normalizes RSS items into article objects: newest N items, dedupe against previously-posted IDs, fills source-language fields and leaves the other language empty for Translate."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-articles",
      "name": "Has Articles?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        192
      ],
      "notes": "TRUE branch = feed produced nothing new (skip marker) → loop to next source. FALSE branch = real articles → enrich & publish."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "skipped",
              "name": "skipped",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "source",
              "name": "source_name",
              "value": "={{ $json.source_name }}",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "={{ $json._reason }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "skip-source",
      "name": "Skip Source",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        144
      ],
      "notes": "Records WHY a source was skipped (no_rss_items / all_already_seen / no_usable_url) and hands control back to the loop."
    },
    {
      "parameters": {
        "url": "={{ $json.source_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; rss-news-publisher/1.0)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 8000
        }
      },
      "id": "fetch-article-page",
      "name": "Fetch Article Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        336
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "Downloads the article's HTML page (8s timeout, never errors) so we can extract an og:image and the full article text. If it fails, the feed summary is used instead."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// =====================================================================\n// RESOLVE IMAGE + FULL TEXT -- enrich each article from its own page.\n// - Image: RSS image first, else og:image / twitter:image meta tags.\n// - Body:  extracts readable text from the page HTML (heuristic,\n//          no external libraries) and uses it only if it is LONGER\n//          than the feed's own summary (never regresses).\n// =====================================================================\nconst orig = $('Build Articles').item.json;\nconst html = ($json.data || '').toString();\nconst MAX_DESCRIPTION_CHARS = $('Config').first().json.maxDescriptionChars;\n\n// --- image: RSS enclosure first, else og:image / twitter:image ---\nlet image = orig.rss_image || '';\nif (!image) {\n  const m = html.match(/<meta[^>]+property=[\"']og:image[\"'][^>]+content=[\"']([^\"']+)[\"']/i)\n         || html.match(/<meta[^>]+content=[\"']([^\"']+)[\"'][^>]+property=[\"']og:image[\"']/i)\n         || html.match(/<meta[^>]+name=[\"']twitter:image[\"'][^>]+content=[\"']([^\"']+)[\"']/i);\n  if (m) image = m[1];\n}\n\n// --- full article text from the page HTML ---\nfunction decode(s) {\n  return s.replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&#39;/g, \"'\").replace(/&quot;/g, '\"').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n}\nfunction extractText(h) {\n  if (!h) return '';\n  let s = String(h);\n  // Drop script/style/noscript blocks entirely.\n  s = s.replace(/<script[\\s\\S]*?<\\/script>/gi, ' ').replace(/<style[\\s\\S]*?<\\/style>/gi, ' ').replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ');\n  // Prefer the <article> element when the page has one.\n  let scope = s;\n  const art = s.match(/<article[\\s\\S]*?<\\/article>/i);\n  if (art) scope = art[0];\n  // Collect substantial <p> paragraphs (>= 40 chars).\n  const blocks = scope.match(/<p[\\s\\S]*?<\\/p>/gi) || [];\n  const paras = [];\n  for (const b of blocks) {\n    const txt = decode(b.replace(/<[^>]*>/g, ' ')).replace(/\\s+/g, ' ').trim();\n    if (txt.length >= 40) paras.push(txt);\n  }\n  let text = paras.join('\\n\\n');\n  // Fallback: strip ALL tags if paragraph extraction found too little.\n  if (text.length < 200) {\n    text = decode(scope.replace(/<[^>]*>/g, ' ')).replace(/\\s+/g, ' ').trim();\n  }\n  return text;\n}\n\nlet articleText = extractText(html);\nif (articleText.length > MAX_DESCRIPTION_CHARS) {\n  articleText = articleText.slice(0, MAX_DESCRIPTION_CHARS).trim() + '…';\n}\n\nconst out = Object.assign({}, orig, { image });\n\n// Replace the SOURCE-language description with the fuller body, only when\n// the extraction beat the feed's own summary (never regress to shorter).\nconst isAr = orig.source_lang === 'ar';\nconst feedDesc = (isAr ? orig.description_ar : orig.description_en) || '';\nif (articleText && articleText.length > feedDesc.length) {\n  if (isAr) out.description_ar = articleText;\n  else out.description_en = articleText;\n}\n\nreturn { json: out };"
      },
      "id": "resolve-image",
      "name": "Resolve Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        336
      ],
      "notes": "Picks the best image (RSS image → og:image → twitter:image) and upgrades the description to the full page text when it's longer than the feed summary."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You localize news articles between Arabic and English.\nYou receive a JSON object with six fields: title_ar, title_en, short_description_ar, short_description_en, description_ar, description_en.\nSome fields are filled (in their respective language) and some are empty strings.\nFor every EMPTY field, translate from its non-empty counterpart in the other language (e.g. empty title_ar -> translate title_en into Arabic).\nFor every NON-EMPTY field, return it UNCHANGED. Do not retranslate, rewrite, summarise, or \"improve\" filled fields.\nNever leave a field empty if its counterpart in the other language has text — always provide the translation.\nPreserve named entities (people, places, brands). Do not add commentary. Output exactly the six fields, all as strings."
            },
            {
              "content": "=Article fields to localize (fill the empty ones from their counterparts):\n\n{\n  \"title_ar\": {{ JSON.stringify($json.title_ar || \"\") }},\n  \"title_en\": {{ JSON.stringify($json.title_en || \"\") }},\n  \"short_description_ar\": {{ JSON.stringify($json.short_description_ar || \"\") }},\n  \"short_description_en\": {{ JSON.stringify($json.short_description_en || \"\") }},\n  \"description_ar\": {{ JSON.stringify($json.description_ar || \"\") }},\n  \"description_en\": {{ JSON.stringify($json.description_en || \"\") }}\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 16384,
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "name": "localized_article",
              "schema": "{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"title_ar\",\"title_en\",\"short_description_ar\",\"short_description_en\",\"description_ar\",\"description_en\"],\"properties\":{\"title_ar\":{\"type\":\"string\"},\"title_en\":{\"type\":\"string\"},\"short_description_ar\":{\"type\":\"string\"},\"short_description_en\":{\"type\":\"string\"},\"description_ar\":{\"type\":\"string\"},\"description_en\":{\"type\":\"string\"}}}",
              "strict": true
            }
          }
        }
      },
      "id": "translate",
      "name": "Translate",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1120,
        336
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "🔑 SETUP REQUIRED — attach your own OpenAI credential here. Fills ONLY the empty language fields (structured JSON output); never rewrites filled ones. Swap the model if you prefer another. Continues on error: Build Payload has fallbacks.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// =====================================================================\n// BUILD PAYLOAD -- merge the article with the LLM translation and\n// produce the final object POSTed to your API.\n// Defensive by design: if the LLM output is missing or malformed, the\n// article still goes out using sensible same/other-language fallbacks.\n// =====================================================================\nconst cur = $('Resolve Image').item.json;\nconst cfg = $('Config').first().json;\nconst aiOut = $json;\n\n// Start from what we already have; LLM output only fills/overrides\n// fields it actually returned non-empty.\nlet t = {\n  title_ar: cur.title_ar || '', title_en: cur.title_en || '',\n  short_description_ar: cur.short_description_ar || '', short_description_en: cur.short_description_en || '',\n  description_ar: cur.description_ar || '', description_en: cur.description_en || ''\n};\n\nconst KEYS = Object.keys(t);\nconst looksLikePayload = (o) =>\n  o && typeof o === 'object' && !Array.isArray(o) &&\n  KEYS.filter((k) => k in o).length >= 2;\n\n// The OpenAI node (Responses API + json_schema) nests the localized object\n// deep in its response (e.g. output[0].content[0].text). Walk the whole\n// response, parsing JSON strings, and grab the first object carrying our\n// six fields. Depth-limited to avoid pathological inputs.\nfunction findPayload(nodeVal, depth) {\n  if (nodeVal == null || depth > 8) return null;\n  if (typeof nodeVal === 'string') {\n    const s = nodeVal.trim();\n    if (s.startsWith('{')) { try { return findPayload(JSON.parse(s), depth + 1); } catch (e) { return null; } }\n    return null;\n  }\n  if (typeof nodeVal !== 'object') return null;\n  if (looksLikePayload(nodeVal)) return nodeVal;\n  const children = Array.isArray(nodeVal) ? nodeVal : Object.values(nodeVal);\n  for (const c of children) {\n    const found = findPayload(c, depth + 1);\n    if (found) return found;\n  }\n  return null;\n}\n\nconst parsed = findPayload(aiOut, 0);\nif (parsed) {\n  for (const k of KEYS) {\n    if (parsed[k] != null && typeof parsed[k] === 'string' && parsed[k].trim()) t[k] = parsed[k];\n  }\n}\n\n// Many APIs require every text field to be NON-EMPTY. If a translation\n// came back empty, fall back: field -> same-language summary ->\n// same-language title -> other-language text. Guarantees no empty\n// required field is ever POSTed.\nconst pick = (...vals) => { for (const v of vals) { if (typeof v === 'string' && v.trim()) return v; } return ''; };\nconst cap = (s, max) => { const v = s || ''; return v.length > max ? v.slice(0, max - 1).trim() + '…' : v; };\n\nreturn { json: {\n  id: cur.id,\n  category_id: Number(cur.category_id),\n  title_ar: pick(t.title_ar, t.title_en),\n  title_en: pick(t.title_en, t.title_ar),\n  short_description_ar: cap(pick(t.short_description_ar, t.title_ar, t.title_en), cfg.shortDescriptionMaxChars),\n  short_description_en: cap(pick(t.short_description_en, t.title_en, t.title_ar), cfg.shortDescriptionMaxChars),\n  description_ar: pick(t.description_ar, t.short_description_ar, t.title_ar, t.description_en, t.title_en),\n  description_en: pick(t.description_en, t.short_description_en, t.title_en, t.description_ar, t.title_ar),\n  image: pick(cur.image, cfg.placeholderImage),\n  source_url: cur.source_url || '',\n  published_at: cur.published_at || new Date().toISOString(),\n  status: 2  // adjust to whatever \"published/pending\" status your API expects\n}};"
      },
      "id": "build-payload",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        336
      ],
      "notes": "Merges the translation into the article and builds the final API payload. Defensive: guarantees every text field is non-empty even if the LLM failed."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.apiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "={{ $('Config').first().json.authHeaderName }}",
              "value": "={{ $('Config').first().json.authHeaderValue }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ category_id: $json.category_id, source_url: $json.source_url, published_at: $json.published_at, title_ar: $json.title_ar, title_en: $json.title_en, short_description_ar: $json.short_description_ar, short_description_en: $json.short_description_en, description_ar: $json.description_ar, description_en: $json.description_en, image: $json.image, status: $json.status }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "post-article",
      "name": "POST Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1696,
        336
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "Sends the article to YOUR endpoint — URL and auth header both come from the Config node, nothing is hardcoded here. fullResponse + neverError let Mark Seen inspect the status code."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// =====================================================================\n// MARK SEEN -- record the article in the dedupe store ONLY if the\n// POST succeeded (2xx). Failed posts stay unmarked, so they are\n// retried automatically on the next run.\n// =====================================================================\nconst article = $('Build Payload').item.json;\nconst status = $json.statusCode || $json.status || 0;\nconst ok = status >= 200 && status < 300;\n\nif (!ok) {\n  console.log('POST failed for ' + article.id + ' status=' + status);\n  return { json: { id: article.id, posted: false, status } };\n}\n\nconst sd = $getWorkflowStaticData('global');\nsd.seenIds = sd.seenIds || {};\nsd.seenIds[article.id] = Date.now();\nreturn { json: { id: article.id, posted: true, status } };"
      },
      "id": "mark-seen",
      "name": "Mark Seen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        416
      ],
      "notes": "Marks the article as published in the dedupe store only on a 2xx response, then loops back for the next source. Failed posts are retried next run."
    }
  ],
  "connections": {
    "Run": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Prepare Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sources": {
      "main": [
        [
          {
            "node": "Per Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Per Source": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS": {
      "main": [
        [
          {
            "node": "Build Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Articles": {
      "main": [
        [
          {
            "node": "Has Articles?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Articles?": {
      "main": [
        [
          {
            "node": "Skip Source",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Article Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Source": {
      "main": [
        [
          {
            "node": "Per Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Article Page": {
      "main": [
        [
          {
            "node": "Resolve Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Image": {
      "main": [
        [
          {
            "node": "Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "POST Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Article": {
      "main": [
        [
          {
            "node": "Mark Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Seen": {
      "main": [
        [
          {
            "node": "Per Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}